*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}

img{
    max-width: 100%;
}

.header-title{
    text-align: center;
}

.header-title h1{
    color: palevioletred;
    margin-bottom: 20px;
    font-weight: 700;
}

.header-title p{
    font-weight: 300;
}

.main-container{
    padding-top: 30px;
}


.col{
    float:left;
     /* Dal 100% tolgo il margine (marginright) e divido per numero di colonne */
    /* width: calc((100% - 40px) / 3); */
     /* width: calc(100% / 3 - 20px); */
    /* margin-right: 20px; */
    /* margin-bottom: 30px; */
    box-shadow: 3px 3px 5px grey;
}

/* Utilizzo una classe a parte per indicare quante colonne stanno in una riga */
.row-cols-3 > .col{
     /* Dal 100% tolgo il margine (marginright) e divido per numero di colonne */
     width: calc((100% - 40px) / 3);
     /* width: calc(100% / 3 - 20px); */
    margin-right: 20px;
    margin-bottom: 30px;
}

/* NthType prende solo quelli con lo stesso tipo (col) */
/* Si poteva usare NthChild per prendere i figli indipendentemente dal tipo */
.row-cols-3 > .col:nth-of-type(3n){
    margin-right: 0;
}

.card{
    background-color: black;
    color: white;
    height: 100px;
}

/* Do il float a tutti i figli di card */
.card > *{
    float: left;
}

/* Do una dimensione precisa alla parte "testo" per evitare problemi di visualizzazione */
/* Tolgo 110px perchè (larghezza immagine - margine) */
.card-text{
    width: calc(100% - 110px);
    padding: 15px 0;
}

/* Dando il float solo all'immagine, viene più difficile affiancare img e testo */
.card img{
    width: 100px;
    /* float: left; */
    margin-right: 10px;
}

.name, .job{
    margin-bottom: 5px;
}

.name{
    font-weight: 500;
}

.job, .email{
    font-weight: 300;
    font-size: 14px;
}

.email{
    color: lightseagreen;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
