*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}

img{
    max-width: 100%;
}

.header-title{
    text-align: center;
}

.header-title h1{
    color: palevioletred;
    margin-bottom: 20px;
}

.main-container{
    padding-top: 30px;
}

.col{
    float:left;
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
}

.col:nth-of-type(3n){
    margin-right: 0;
}

.card{
    background-color: black;
    color: white;
    height: 100px;
}

.card-text{
    padding: 15px 0;
}

.col img{
    width: 100px;
    float: left;
    margin-right: 10px;
}

.name, .job{
    margin-bottom: 5px;
}

.email{
    color: lightseagreen;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
